accelerate==0.30.1
anthropic==0.9.0
bitsandbytes
openai==1.32.0
fastapi
huggingface-hub
jsonschema==4.22.0
lm-format-enforcer==0.10.2
pillow==10.2.0
pydantic
python-dotenv
torch==2.2.0
torchaudio==2.2.0
tokenizers
transformers
torchvision==0.17.0
gai-common==0.76
uvicorn
