pandas
ninja
wheel
setuptools
fastparquet
torch==2.2.0
safetensors>=0.3.2
sentencepiece>=0.1.97
pygments
websockets
regex
numpy==1.24.2
tokenizers
rich
python-dotenv
httpx==0.24.0
ipykernel==6.27.1
uvicorn
fastapi==0.109.2
openai==1.32.0
lm-format-enforcer==0.10.2
jsonschema==4.22.0
gai-common==0.1.4