chromadb==0.4.22
fastapi==0.109.2
httpx==0.24.0
InstructorEmbedding==1.0.1
#langchain==0.1.0
openai==1.8.0
pandas
python-multipart
PyMySQL==1.1.0
sentencepiece==0.1.99
sentence_transformers==2.2.2
sqlalchemy
unstructured[all-docs]==0.12.0
uvicorn==0.23.2
websockets